################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/houghs
/.vs/ProjectSettings.json
/.vs/CS482_Hough_Feature_Detector/v16/.suo
/.vs/slnx.sqlite
/.vs
/out_images
